<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=false;">
    <title>Edit - car dealership</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
<div th:replace="fragments.html :: menu"></div>
<div class="container bg-light py-5">
    <div class="row">
        <div class="col-3">
            <a href="/main" class="btn btn-dark">Return</a>
        </div>
        <div class="col">
            <form method="post">
                <div class="form-group">
                    <input type="text" th:field="*{car.name}" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{car.brand}" class="form-control" placeholder="Brand">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{car.color}" class="form-control" placeholder="Color">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{car.age}" class="form-control" placeholder="Age">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{car.topSpeed}" class="form-control" placeholder="Top Speed">
                </div>
                <input class="btn btn-primary" type="submit" value="Save">
            </form>
            <a class="btn btn-danger mt-3" th:href="@{/delete_car/{id}(id=${car.id})}">Delete</a>
        </div>
        <div class="col-3"></div>

    </div>
</div>
</body>
</html>