<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:switch="${cars}">
    <h2 th:case="null">No cars yet!</h2>
    <div th:case="*">
        <h2>Cars</h2>
        <table>
            <thead>
            <tr>
                <th>Brand</th>
                <th>Name</th>
                <th>Color</th>
                <th>Age</th>
                <th>TopSpeed</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.brand}"></td>
                <td th:text="${car.name}"></td>
                <td th:text="${car.color}"></td>
                <td th:text="${car.age}"></td>
                <td th:text="${car.topSpeed}"></td>
                <td><a th:href="@{/edit/{id}(id=${car.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${car.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addcar">Add a new car</a></p>
</div>
</body>
</html>